<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
     <link href="https://fonts.googleapis.com/css?family=Margarine" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {% endblock %}
</head>
<body>
{% block head %}
    {% include 'ask_app/navbar.html' %}
{% endblock %}


<div class="container ">
    <div class="row">
    <div class="col-lg-9">
        {% block content %}
        {% endblock %}
    </div>

    <div class="col-lg-3 col-2">
        <div class="well well-sm">
            <div class="popular">
                <h4>popular</h4>
            </div>
            <ul class="cloud">
                <li><a class="pr2" href="#">perl</a></li>
                <li><a class="pr4" href="#">python</a></li>
                <li><a class="pr2" href="#">TechnoPark</a></li>
                <li><a class="pr4" href="#">MySQL</a></li>
                <li><a class="pr7" href="#">django</a></li>
                <li><a class="pr3" href="#">Mail.Ru</a></li>
                <li><a class="pr5" href="#">Firefox</a></li>
            </ul>
        </div>
        <div class="well well-sm">
            <h4>Popular Tags</h4>
            <ul class="cloud">
                <li><a class="pr2" href="#">Mr.Freeman</a></li>
                <li><a class="pr2" href="#">Mr.Freeman</a></li>
                <li><a class="pr2" href="#">Mr.Freeman</a></li>
                <li><a class="pr2" href="#">Mr.Freeman</a></li>
                <li><a class="pr2" href="#">Mr.Freeman</a></li>
            </ul>
        </div>
    </div>
    </div>

</div>
</body>
</html>


