{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" style="color: cornsilk; font-size: 50px; font-family: Margarine" href="/">AskZak</a>
    <div class="container justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 mr-sm-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search here" aria-label="Search">
                <button class="btn btn-dark my-0 my-sm-2" type="submit">Fast!</button>
            </form>
            <button type="button" class="btn btn-outline-success" >Sprosi</button>
        </div>
    </div>
    <img class="rounded mx-auto d-block " width="50" height="50" alt="avatar" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png">
    <form>
        <div class="form-group ">
            <label class="col-sm-2 col-form-label"style="color: cornsilk">HELLwedewdwO</label>
            <div class="form-inline">
                <button type="button" class="btn btn-link"style="color: cornsilk">settings</button>
                <button type="button" class="btn btn-link"style="color: cornsilk">sign out</button>
            </div>
        </div>
    </form>

</nav>