{% load static %}
 <div class="blog-main question">
        <div style="display: inline-flex;">
            <a href="#"><img class="avatar_main" src="#" alt=""></a>
            <div class="text_main">
                <div><a href="#">Title</a></div>
                <p class="mb-auto">Hello</p>
            </div>
        </div>
        <div class="down_panel">
            <span class="btn btn-link btn-lg btn-like "><i class="fa fa-thumbs-up"></i></span>
            5
            <span class="btn btn-link btn-lg btn-like "><i class="fa fa-thumbs-down"></i></span>
            <span class="col-md-4 answers_count"><ins><a href="#">answers({{ q.answer_set.count }})</a></ins></span>
            <span class="tags">Tags:
                    <span class="col-md-2"><ins><a href="">Hye</a></ins></span>
                    <span class="col-md-2"><ins><a href="">EAD</a></ins></span>
                    <span class="col-md-2"><ins><a href="">AEdad</a></ins></span>
                    <span class="col-md-2"><ins><a href="">aeda</a></ins></span>
                    <span class="col-md-2"><ins><a href="">aedadeadea</a></ins></span>
            </span>
        </div>
    </div>
